@font-face {
  font-family: "PT-Bold";
  src: url(assets/fonts/PTSansNarrow-Bold.ttf);
}
@font-face {
  font-family: "PT-Regular";
  src: url(assets/fonts/PTSansNarrow-Regular.ttf);
}
@font-face {
  font-family: "Fira Sans";
  src: url(assets/fonts/FiraSans-Regular.ttf);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: "PT-Regular";
  line-height: 1.7;
  font-size: 15px;
}

main {
  width: 100%;
}

/* HEADER START */
header {
  height: 100px;
  background-color: #27377b;
}

nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 30px;
}

.logo {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  width: 180px;
  height: 170px;
  z-index: 3;
}

.logo-container img {
  width: 100%;
}

nav ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  place-items: center;
  list-style-type: none;
}

.left-menu {
  position: absolute;
  top: 8%;
  left: 20%;
  transform: translateY(-50%);
}

.right-menu {
  position: absolute;
  top: 8%;
  right: 15%;
  transform: translateY(-50%);
}

nav ul li a {
  display: block;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  line-height: 1;
  font-size: 16px;
  font-weight: 500;
  padding: 15px 0;
}

nav ul li a:hover {
  color: #3c77bb;
  cursor: pointer;
  border-bottom: 3px solid #82d26e;
  transition: ease-in-out;
}

.active {
  border-bottom: 3px solid #82d26e;
  color: #3c77bb;
}

/* HEADER END */

/* FOOTER START */
footer {
  display: flex;
  flex-direction: column;
}

.footer-top {
  display: flex;
  flex-direction: column;
  height: 380px;
  align-items: center;
  justify-content: space-evenly;
  background-color: #82d26e;
}

.footer-top h2 {
  font-size: 36px;
  font-weight: 300;
  color: white;
}

.footer-top h4 {
  font-size: 18px;
  letter-spacing: 4px;
  color: white;
}

.footer-contact {
  display: flex;
  flex-direction: row;
  place-items: center;
  padding: 10px 15px;
  gap: 15px;
  background-color: #a6d697;
}

.footer-contact:hover {
  background-color: rgba(255, 255, 255, 0.505);
}

.footer-contact a {
  font-size: 17px;
  font-weight: 400;
  line-height: 1.3em;
  text-decoration: none;
  color: black;
}

.footer-contact img {
  width: 17px;
}

.footer-mid {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 80px 30px;
}

.footer-deets {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.footer-mid h2 {
  color: #3f3f3f;
  font-family: "Fira Sans", Sans-serif;
  font-size: 15px;
  font-weight: 700;
}

.footer-mid p {
  font-size: 20px;
  font-weight: 300;
  color: #7a7a7a;
}

.footer-bottom {
  background-color: #eaeaea;
  text-align: center;
}

.footer-bottom p {
  color: #b2a9a3;
  padding: 28px 0;
}

.socials {
  display: flex;
  flex-direction: row;
  place-items: center;
  gap: 10px;
}

.social-icon:hover {
  width: 25px;
  height: 25px;
  background-color: #3c77bb;
  border-radius: 5px;
  transition: ease-in-out;
  padding: 2px;
}

.social-icon img {
  width: 25px;
}

/* FOOTER END */

/* HOME PAGE START */

.banner {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 500px; /* Set your desired height */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    144,
    238,
    144,
    0.5
  ); /* Light green with transparency */
  z-index: 1;
}

.banner-image {
  width: 100%;
  height: auto;
  opacity: 1; /* Initial opacity */
  transition: opacity 3s ease; /* Fade-in animation duration */
  z-index: 1;
}
.prev-button,
.next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  z-index: 2;
}

.prev-button {
  background-color: #ccc;
  width: 30px;
  height: 30px;
  left: 10px;
}

.next-button {
  right: 10px;
  background-color: #ccc;
  width: 30px;
  height: 30px;
}

.dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.dot {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin: 0 5px;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 50%;
  cursor: pointer;
}

.dot.active {
  background-color: #27377b;
}

.home-services-overview {
  display: flex;
  flex-direction: column;
  width: 100%;
  place-items: center;
  gap: 70px;
  padding: 60px;
  margin: 20px 0;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}

.service-top {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 20px;
}

.service-top h2 {
  font-size: 36px;
  font-weight: 300;
  letter-spacing: 0.7px;
  line-height: 1;
  color: #3f3f3f;
}

.service-top h6 {
  font-size: 18px;
  font-weight: 300;
  color: rgba(2, 2, 2, 0.46);
  letter-spacing: 7px;
  line-height: 1;
}

.service-bottom {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  gap: 40px;
}

.home-services {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.home-services img {
  width: 100%;
}

.service-image-top {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px; 
  height: 120px;
  border-radius: 50%; 
  background-color: #007bff;
  overflow: hidden;
}

.service-image-top img {
  width: 90px; 
  height: 90px; 
}

.service-details {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.service-details h2 {
  font-size: 25px;
  font-weight: 300;
  line-height: 1;
  text-align: center;
  color: #3f3f3f;
}

.service-details p {
  line-height: 1.7;
  font-size: 15px;
  color: #757575;
}

.featured-work {
  background-color: #27377b;
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: 30px;
  padding: 70px 0;
  text-align: center;
}

.featured-work a {
  display: flex;
  flex-direction: row;
  padding: 15px 20px;
  background-color: #82d26e;
  text-decoration: none;
  color: #27377b;
  font-family: "PT-Regular", Sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 1.3em;
}

.featured-work a:hover {
  transition: ease-in-out 0.3s;
  background-color: white;
  opacity: 0.3;
}

.featured-work a img {
  width: 15px;
  margin-left: 10px;
}

.featured-top {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.featured-top h2 {
  color: #ffffff;
  font-size: 36px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  line-height: 1;
}

.featured-top h6 {
  color: rgba(255, 255, 255, 0.46);
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 7px;
  line-height: 1;
}

.featured-bottom {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 30px 70px 30px 70px;
}

.featured-image {
  width: auto;
}

.featured-image img {
  width: 100%;
}

.home-testimonials {
  display: flex;
  flex-direction: column;
  place-items: center;
  text-align: center;
  gap: 25px;
  padding: 60px 0;
}

.home-testimonials-top {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.home-testimonials-top h2 {
  font-size: 36px;
  font-weight: 300;
  color: #3f3f3f;
  text-transform: uppercase;
  letter-spacing: 0.7px;
}

.home-testimonials-top h6 {
  color: rgba(2, 2, 2, 0.46);
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 7px;
}

.home-testimonials-bottom {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 50px;
}

.testimonial-container {
  display: flex;
  flex-direction: column;
  position: relative;
  box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.07);
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 0px 35px 20px 35px;
  gap: 60px;
}

.avatar img {
  display: inline-block;
  vertical-align: middle;
  background-color: white;
  position: absolute;
  top: -40px;
  left: 44%;
  width: 67px;
  height: auto;
  max-width: 100%;
  border: none;
  border-radius: 50%;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.14);
}

.profile-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.profile-details h2 {
  font-size: 25px;
  font-weight: 300;
}

.profile-details h5 {
  color: rgba(0, 0, 0, 0.44);
  font-size: 16px;
  font-weight: 300;
}

.testimonials {
  margin-bottom: 26px;
  color: rgba(0, 0, 0, 0.5);
  font-style: italic;
  line-height: 1.7;
  font-size: 15px;
  font-family: "Fira Sans";
  text-align: left;
}

/* HOME PAGE END */

/* Services.css  */
.container {
  margin: 50px 20px; /* Increase margin to the ends of the screen */
  text-align: center;
}

.header-text {
  position: absolute;
  color: rgb(90, 90, 178);
  text-align: left;
  bottom: 50px;
  left: 50px;
  margin-bottom: 30px;
  margin-left: 80px;
  z-index: 2;
}
.header-text h1 {
  font-size: 90px;
}
.header-text p {
  font-size: 22px;
}

.service {
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: 10px;
  border-bottom: 1px solid #757575;
  padding-bottom: 30px;
}

.service-img {
  border-radius: 50%;
  background-color: #007bff;
  padding: 30px;
}

.service img {
  width: 90px;
  height: 90px;
}

.service-title {
  font-size: 38px;
  color: #007bff;
  margin-bottom: 15px;
  font-family: "Fira Sans", sans-serif;
}

.service-description {
  color: #757575;
  font-family: "Fira Sans", sans-serif;
}

.column-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

/* portfolio.css */
.image-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  gap: 30px;
  margin: 60px 130px 30px 130px;
}
.single-image {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.single-image:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  transition: opacity 0.3s ease;
}
.single-image:hover p {
  display: block;
  z-index: 2;
  transition: z-index 0.3s ease;
}
.single-image p {
  display: none;
  position: absolute;
  bottom: 50%;
  left: 15%;
  color: #fff;
  transition: z-index 0.3s ease;
}
.zoomable {
  width: 100%;
  height: auto;
  object-fit: cover;
  cursor: pointer;
}

/* Modal styles */
.modal {
  display: none;
  position: fixed;
  top: 15%;
  left: 15%;
  width: 70%;
  height: 70%;
  background-color: #fff;
  z-index: 3;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.modal img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.modal-close {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background-color: #757575;
  border-radius: 5px;
  padding: 10px;
}

/* contact */
.container {
  position: relative;
}

.image-wrapper {
  position: relative;
  display: inline-block;
}

.image-wrapper img {
  display: block;
  width: 100%;
  height: auto;
}

.image-wrapper h1 {
  position: absolute;
  bottom: 50px;
  left: 10px;
  margin: 0;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.7);
  font-size: 24px;
}
.image-wrapper h1 + p#heading {
  position: absolute;
  bottom: 10px;
  left: 10px;
  margin: 0;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
}
.contact-form {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contact-form h2 {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-weight: bold;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-group textarea {
  resize: vertical;
}

button[type="submit"] {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

.contact-section {
  display: flex;
  justify-content: space-between;
  max-width: 800px;
  margin: 0 auto;
}

.contact-block {
  flex: 1;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}

.contact-block h2 {
  margin-bottom: 10px;
}

.contact-block a {
  display: block;
  margin-top: 10px;
  text-decoration: none;
  color: blue;
}

.contact-block a:hover {
  text-decoration: underline;
}

/* about */
.top {
  position: relative;
}

header {
  /* background-color: #1332e1; */
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 24px;
  color: #333;
}

p {
  font-size: 16px;
  line-height: 1.6;
}

.about,
.mission,
.clientele {
  margin-bottom: 40px;
}

.about h2,
.mission h2,
.clientele h2 {
  margin-bottom: 10px;
}

/* testimonials */
.top {
  width: 100%;
}
.top img {
  width: 100%;
  height: 500px;
}

.image-wrapper {
  width: 100%;
}

.all-testimonials {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 50px;
  text-align: center;
}

.text-block {
  width: 500px;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: center;
}

.text-block img {
  display: block;
  margin: 0 auto 10px;
  max-width: 30%;
}

.text-block h3 {
  margin-bottom: 10px;
}

/* responsiveness */
@media (max-width: 600px) {
  /* service.css */
  .service {
    flex-basis: calc(100% - 30px);
    margin-right: 0;
  }
}
